// This page contains global variables for styling the doc site

// Font stack
$font-stack: -apple-system, BlinkMacSystemFont,
             "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
             "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Basic colors
$black: #000;
$white: #fff;
